<?xml version='1.0' encoding='UTF-8'?>

<bag xmlns:boolean="http://www.w3.org/2001/XMLSchema#boolean" xmlns:int="http://www.w3.org/2001/XMLSchema#int" int:version="1">
 <SurveyView int:survey_view_int_operations_mode="0">
  <BottomUpGrid>
   <ColumnStructure DefaultColumnLayout="Default"/>
   <ColumnWidth int:fdFunctionName="360" int:fdLoopAnnotation="43" int:fdRecommendationPresence="180" int:fdTotalTime="88" int:fdSelfTime="83" int:fdCompilerOptInfoVectLoopTypeSplitting="128" int:fdCompilerOptInfoVectMsg="176" int:fdVectInfoInstSets="56" int:fdVectorGain="56" int:fdVectorLength="56" int:fdSelfGFLOPS="128" int:fdSelfArithmeticIntensity="128" int:fdMemory="91" int:fdTripCountMedian="96" int:fdTripCountOccurrences="96" int:fdVectInfoInstClasses="176" int:fdVectInfoVectDataTypes="72" int:fdCompilerOptDetails="128" int:fdLocation="192"/>
  </BottomUpGrid>
  <TopDownGrid>
   <ColumnStructure DefaultColumnLayout="Top Down"/>
  </TopDownGrid>
 </SurveyView>
 <workflow int:selected="0" boolean:accuracyEnable="true">
  <pmVectorization>
   <checked boolean:a1="true" boolean:a3="false" boolean:a6="false" boolean:a7="false"/>
  </pmVectorization>
 </workflow>
 <MainView int:SidebarWidth="329"/>
 <FilterView boolean:VectorizedButtonChecked="true" boolean:NotVectorizedButtonChecked="true" boolean:FakeLoopButtonChecked="false" boolean:LibrariesButtonChecked="false" ModuleFilterValue="All Modules" SourceFilterValue="All Sources" LoopModeFilterValue="Loops And Functions" ThreadFilterValue="All Threads"/>
 <SurveySourceView boolean:SourcePaneVisible="true" boolean:AsmPaneVisible="true" boolean:StackPaneVisible="true">
  <SourceView>
   <ColumnWidth int:SplitterPos="802"/>
  </SourceView>
 </SurveySourceView>
</bag>
